---
import Layout from "@/layouts/Layout.astro";
import MainPostPreview from "@/components/MainPostPreview.svelte";
import BlogsCarousel from "@/components/BlogsCarousel.svelte";

import { getAll } from "backend/blogs";

export const LATEST_PAGE_SIZE = 3;
export const LATEST_PAGES = 3;

const latests = await getAll({
  offset: 0,
  limit: LATEST_PAGE_SIZE * LATEST_PAGES + 1,
}).then((latest) => latest.data);

const bellowBlogs = latests.slice(1);
---

<Layout title="MeBlog">
  <main class="container mx-auto pt-6">
    <h2>MeBlog</h2>

    <hr class="mb-4" />

    <section>
      <h3>Latests</h3>

      {latests.at(0) && <MainPostPreview 
				preview={latests[0].preview}
				title={latests[0].title}
				mainImage={latests[0].mainImage}
				blogId={latests[0].id}
				category={latests[0].category}
				createdAt={latests[0].createdAt}
				subCategories={latests[0].subCategories}
				tags={latests[0].tags}
			/>}

      <hr class="my-3" />

			<BlogsCarousel client:load blogs={bellowBlogs} pageSize={LATEST_PAGE_SIZE} />
    </section>
  </main>
</Layout>
